<!doctype html>
<html lang="ko">
<head>
    <%- include('./includes/header.ejs') %>
    <title>INDEX</title>
</head>
<body>
<h1 class="title is-2 m-3">
    <%= pageTitle %>
</h1>
<hr>
<button class="button is-link is-light is-rounded m-3" onclick="location.href = '/login'">로그인</button>
<button class="button is-rounded is-danger is-light m-3" onclick="location.href = '/register'">회원가입</button>
</body>
</html>
