<!doctype html>
<html lang="ko">
<head>
    <%- include('./includes/header.ejs') %>
    <title>로그인</title>
</head>
<body>
<h1>로그인 화면</h1>
<form action="">

    <input type="text" placeholder="아이디">
    <input type="password" placeholder="비밀번호">
    <button type="submit">로그인</button>

    <!--    로그인-->
    <!--    비밀번호-->
    <!--    axios 동적-->
    <!--    로그인 성공시 회원정보 수정 / 회원 탈퇴(삭제) -->
</form>
<%- include('includes/footer.ejs') %>
</body>
</html>
