<!doctype html>
<html lang="ko">
<head>
    <%- include('./includes/header.ejs') %>
    <title>회원 정보 수정</title>
</head>
<body>
<h1> 회원 정보 수정 화면</h1>
<%- include('includes/footer.ejs') %>
</body>
</html>
