<!doctype html>
<html lang="ko">
<head>
    <%- include('./includes/header.ejs') %>
    <title>INDEX</title>
</head>
<body>
    <div class="hero is-fullheight ">
        <h1>회원가입 성공 페이지 </h1>
        <div class="hero-body is-justify-content-center is-align-items-center">
            <div class="columns is-flex is-flex-direction-column box">
                <h2 class='title is-2'>성공적으로 회원가입 되었습니다.</h2>
                <a href='/login'>로그인 하기</a>

            </div>
        </div>
    </div>


</body>
</html>
