<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%- include('./includes/header.ejs')%>
 <h1>안녕하세요 (set 설정 완료)</h1>
 <h3>ejs 파일들, css 수정을해도 새로고침시 자동 작성</h3>
 <p>서버자체에서 코드 추가시 껐다 켜야함.</p>

<!-- 기호작성 유의 할 것-->
<% for (let i=0;i<5;i++){%>
    <div>안녕하세요 for-loop으로 제작 됐습니다 ㅎㅎ </div>
    <div>test i 사용법 : <%i%></div>
    <img src="static/img/image.gif" alt="" width="150">
<%}%>
<a href="/login">로그인</a>
</body>
</html>
