<!-- 코드를 부분적으로 넣기위해 includes 폴더안에 header 영역을 ejs 로 생성-->

<header style="background-color: aliceblue;">
    <ul>
        <li>menu 1</li>
        <li>menu 2</li>
        <li>menu 3</li>
    </ul>
</header>
<!--다른 곳에서 불러올때는  - include('상대경로') 로 작성한다.-->
