<!doctype html>
<html lang="ko">
<head>
    <%- include('./includes/header.ejs') %>
    <title> <%- title; %></title>
</head>
<body>
<button class="button is-link is-light is-rounded" onclick = "location.href = '/get'">GET 으로 정보 받기</button>
<br>
<button class="button is-rounded is-danger is-light " onclick = "location.href = '/post'">POST 으로 정보 받기</button>
</body>
</html>
