<!doctype html>
<html lang="ko">
<head>
    <%- include('./includes/header.ejs') %>
    <title>로그인</title>
</head>
<body>
<div class="hero is-fullheight ">
    <div class="hero-body is-justify-content-center is-align-items-center ">
        <div class="columns is-flex is-flex-direction-column box">
            <h3 class='title is-3 is-primary ' style='color: hsl(171, 100%, 41%)'>Log in</h3>
            <form action="/my_profile" method='post' name='login'>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="text" placeholder="아이디를 입력하세요." name="id">
                        <span class="icon is-small is-left"><i class="fas fa-user"></i></span>
                    </p>
                </div>
                <div class="field">
                    <p class="control has-icons-left">
                        <input class="input" type="password" placeholder="패스워드를 입력하세요." name="pw">
                        <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                    </p>
                </div>
                <p id="formCorrect" class='is-fullwidth has-text-danger' style='display: none'>아이디 혹은 비밀번호가 맞지 않습니다.</p>
                <br>
                <div class='field is-flex is-justify-content-space-between'>
                    <button type="button" class="button is-primary" id="login">
                        <span>로그인 </span>
                        <span class="icon"><i class="fa fa-sign-in"></i></span>
                    </button>
                    <%- include('./includes/back.ejs') %>
                </div>
            </form>

        </div>
    </div>
</div>

<script>
    const loginBtn = document.querySelector('#login');
    const form = document.forms['login'];
    const formCorrect = document.querySelector('#formCorrect');
    const formInfo = {
        userId:form.id.value,
        userPw:form.pw.value,
    };
    loginBtn.addEventListener('click', async function(e) {
        e.preventDefault();
        const response = await axios.post('/checkLogin', {
            userId:form.id.value,
            userPw:form.pw.value,
        });
        console.log(response);
        const { hasInfo } = response.data;
        if (hasInfo) {
            form.submit();
        } else {
            formCorrect.style.display = 'block';
        }
    });

    form[0].addEventListener('focus', () => {
        formCorrect.style.display = 'none';
    });
    form[1].addEventListener('focus', () => {
        formCorrect.style.display = 'none';
    });

</script>
</body>
</html>
