<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>파일 업로드</title>
</head>
<body>
<h1>파일 업로드 배워보자 ! </h1>

<h2>1 input 1 file upload</h2>
<form action="/uploads" method="post" enctype="multipart/form-data">
    <input type="file" name="userfile"> <br>
    <input type="text" name="title"> <br> <br>
    <button type="submit">업로드</button>
</form>

<h2>1 input many files upload</h2>
<!--form /action 도 '/'를 통해 길게 작성할 수 있음-->
<form action="/uploads/array" method="post" enctype="multipart/form-data">
    <input type="file" name="userfile" multiple> <br>
    <input type="text" name="title"> <br> <br>
    <button type="submit">업로드</button>
</form>
<h2>many inputs file upload each</h2>
<!--form /action 도 '/'를 통해 길게 작성할 수 있음-->
<form action="/uploads/fields" method="post" enctype="multipart/form-data">
    <input type="file" name="userfile1"> <br>
    <input type="text" name="title1"> <br>
    <input type="file" name="userfile2"> <br>
    <input type="text" name="title2"> <br> <br>
    <button type="submit">업로드</button>
</form>
</body>
</html>
