<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/static/index.css'>
    <title>chat</title>
    <!--socket io CDN-->
    <script src='https://cdn.socket.io/4.6.0/socket.io.min.js' integrity=''></script>
</head>
<body>
<h1> 채팅 </h1>
<!--[실습1] 각 버튼을 누를때 마다 서버로 메세지 보내기-->
<button onclick='sayHello();'>hello</button>
<button onclick='sayStudy();'>study</button>
<button onclick='sayBye();'>bye</button>
<p id='formServer'></p>
<script src='/static/index.js'></script>
</body>
</html>
