<!doctype html>
<html lang='ko'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport'
          content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>쿠키 연습</title>
</head>
<h1>cookie</h1>

<a href="/setCookie">쿠키 설정</a>
<a href="/getCookie">쿠키 확인</a>
<a href="/clearCookie">쿠키 제거</a>
</html>
