<button type="button" class="button " onclick="location.href = '/register'">회원 가입
<button type="button" class="button" id="home" onclick='location.href="\/"'>
    <span class="icon"><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
</button>
</button>
