<button type="button" class="button m-3 is-dark has-text-white" id="logout">
    <span>로그아웃</span>
<!--    <a href='/logout'>로그아웃</a>-->
    <span class="icon"><i class="fa fa-sign-out"></i></span>
</button>
