<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>실습 20 </title>
</head>
<body>
<a href="/login"> 로그인 하러 가기 ➡</a>
<a href="/register"> 회원 가입 ➡</a>
<img src="../static/img/image.jpeg" alt="주먹왕 랄프">
<h1> 실습 20 ejs 연습</h1>

</body>
</html>
